<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성용</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content- center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">글작성</h2>
            </div>
        </div>
        <div>
            <form method ="post" th:action="@{/noticeboard/modifyaction/{id}(id = ${preTable.id})}">
                <td><input type="text" class="form-control" th:placeholder="${preTable.title}" name="title" maxlength="50"></td>
                <textarea type="text" class="form-control" th:placeholder="${preTable.content}" name="content" maxlength="2048" style ="height: 350px;"></textarea>
				
                <input type="submit" class="btn btn-primary pull-right" value ="글등록"/>
            </form>
        </div>
    </div>
</section>

<script src="/js/jquery.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>


</body>
</html>