<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  	<title>Table 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="/css/style.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Table #01</h2>
				</div>
				<div>
					<form method ="get" action = "search">
						<input type = "text" placeholder ="검색어 입력" name="searchKeyword">
						<input type = "hidden" name = "page" value = "<%=currentPage%>">
						<input type = "submit" value = "검색">
					</form>
					
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						      <th>글번호</th>
						      <th>글제목</th>
						      <th>작성자</th>
						      <th>작성날짜</th>
						      <th>조회수</th>
						    </tr>
						  </thead>
						  <tbody>
						    
						    <tr th:each="board : ${tableList}">
						      <th scope="row" th:text="${board.id}"></th>
						      <td><a th:text="${board.title}" th:href="@{/noticeboard/view(id=${board.id})}"></a></td>
						     
						      <td th:text="${board.writer_id}"></td>
						      <td th:text="${board.regdate}"></td>
						      <td th:text="${board.hit}"></td>
						    </tr>
						    
						  </tbody>
						</table>
						
					</div>
				
					
					
					<a href="/noticeboard/write" class="btn btn-primary pull-right">글쓰기</a>
				</div>
			</div>
		</div>
	</section>

	<script src="/js/jquery.min.js"></script>
  <script src="/js/popper.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/main.js"></script>

	</body>
</html>