<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
 <head>
  	<title>Table 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="/css/style.css">

	</head>
	<body>
	<section class="ftco-section">
			<div class="container">
				<div class="row">
			<table class="table talbe-striped" style=" border: 1px solid ">
				<thead>
				</thead>
				<tbody>
				
					<tr>
						<td>글제목</td>
						<td colspan="2" th:text="${view.title}"> </td> 
					</tr>
					<tr>
						<td>작성자</td>
						<td colspan="2" th:text="${view.writer_id}"></td> 
					</tr>
					<tr>
						<td>작성날짜</td>
						<td colspan="2" th:text="${view.regdate}"></td>
					</tr>
					
					<tr>
						<td>내용</td>
						<td colspan="2" style="padding: 10px; height: auto; min-height: 100px; overflow: auto;" th:text="${view.content}"></td>
					</tr>
					
					
				</tbody>
			</table>
			
			<a href="search?page=1&searchKeyword=null" class="btn btn-primary">목록</a>
			
			<span th:if="${#strings.equals(session.userId, view.writer_id)}">
			<a th:href="@{/noticeboard/modify/{id}(id = ${view.id})}" class="btn btn-primary">수정</a>
			<a th:href="@{/noticeboard/delete/{id}(id = ${view.id})}" class="btn btn-primary">삭제</a>
			</span>
			</div>
			</div>
			
		
	</section>

	<script src="/js/jquery.min.js"></script>
  <script src="/js/popper.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/main.js"></script>

	</body>
</html>